/* Webfont: LionbridgeSans-Light */@font-face {
    font-family: 'LionbridgeSansLight';
    src: url('LionbridgeSans-Light0918.woff2') format('woff2'), /* Modern Browsers */
         url('LionbridgeSans-Light0918.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

