<label class="lds-radio-container">
  <span class="lds-radio-label">Radio button 1</span>
  <input type="radio" name="radioButton" value="radio1">
  <span class="lds-checkmark"></span>
</label>

<label class="lds-radio-container">
  <span class="lds-radio-label">Radio button 2</span>
  <input type="radio" name="radioButton" value="radio2">
  <span class="lds-checkmark"></span>
</label>

<label class="lds-radio-container">
  <span class="lds-radio-label">Radio button 3</span>
  <input type="radio" name="radioButton" value="radio3">
  <span class="lds-checkmark"></span>
</label>